{% extends 'base.html' %} 

{% block title %}
<title>Ajouter une ligne</title>
{% endblock %} 

{% block content %}
<h1>Ajouter une ligne</h1>
<form method="post">
    <div class="form-group">
        <label for="rna_id">RNA ID:</label>
        <input type="text" class="form-control" id="rna_id" name="rna_id">
    </div>
    <div class="form-group">
        <label for="rna_id_ex">RNA ID EX:</label>
        <input type="text" class="form-control" id="rna_id_ex" name="rna_id_ex">
    </div>
    <div class="form-group">
        <label for="gestion">Gestion:</label>
        <input type="text" class="form-control" id="gestion" name="gestion">
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
{% endblock %}
