{% extends 'base.html' %} 
{% block title %}
<title>Page assos</title>
{% endblock %} 
{% block content %}
<h1>Assos page</h1>
<a href="{{ url_for('ajouter') }}" class="btn btn-primary btn-sm">Ajouter</a>
<a href="{{ url_for('dashboard') }}" class="btn btn-primary btn-sm">Dashboard</a>
<a href="{{ url_for('dashboard') }}" class="btn btn-primary btn-sm">Dashboard</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>RNA ID</th>
            <th>RNA ID EX</th>
            <th>Gestion</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for data in datas %}
        <tr>
            <td>{{ data.id }}</td>
            <td>{{ data.rna_id }}</td>
            <td>{{ data.rna_id_ex }}</td>
            <td>{{ data.gestion }}</td>
            <td>
                <a href="{{ url_for('modifier', data_id=data.id) }}" class="btn-modifier">Modifier</a>
                <a href="{{ url_for('delete', data_id=data.id) }}" class="btn-delete">supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
