* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: bisque;
}
.table {
    width: 80%;
    margin: 20px auto;
}
.table td, .table th {
    border: 1px solid gray;
    padding: 10px;
}
nav ul {
    display: flex;
    list-style: none;
    background: burlywood;
    justify-content: space-around;
}
nav a {
    text-decoration :none ;
    color: aquamarine;
    display: block;
    padding: 10px;
    display: block;
}
.btn-modifier {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-modifier:hover {
    background-color: #0062cc;
  }
  
  .btn-delete {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-delete:hover {
    background-color: #c82333;
  }