* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(218 220 224);
}
.table {
    width: 80%;
    margin: 20px auto;
}
.table td, .table th {
    border: 1px solid gray;
    padding: 10px;
}
nav ul {
    display: flex;
    list-style: none;
    background: gray;
    justify-content: space-around;
}
nav a {
    text-decoration :none ;
    color: white;
    display: block;
    padding: 10px;
    display: block;
}
.btn-modifier {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-modifier:hover {
    background-color: #0062cc;
  }
  
  .btn-delete {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-delete:hover {
    background-color: #c82333;
  }
  .btnn{
    background-color: gray;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
      display: inline-block;
      justify-content: center;
      align-items: center;
  }


.form-group{
  position:relative;
  top:50px;
   width: 340px;
   margin: 50px auto;
   
}
.form-group form {
   margin-bottom: 10px;
   background: #f7f7f7;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);        
margin-top: 30px;
background-color:  #b0b9c1;
padding: 40px 60px;
border-radius: 30px;
min-width: 300px;
  }
 

.form-control{
  border-radius: 10px;
  border:none;
  background-color: white;
  margin-bottom: 0px;
  padding: 15px;
width:220px ;
          }
.btnm {
  background-color: gray;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
      display: inline-block;
      justify-content: center;
      align-items: center;
}
.btnm:hover {        
  font-size: 15px;
  font-weight: bold;
  background-color:rgb(78, 78, 78);
}